/* assets/css/harmony.css */
/* You can add a specific font import here if Harmony uses one, e.g. Selawik */

:root {
    /* Color Overrides for Harmony */
    --primary: #0061a6;
    --on-primary: #ffffff;
    --onPrimary: #ffffff;
    --primary-container: #d2e4ff;
    --primaryContainer: #d2e4ff;
    --on-primary-container: #001c37;
    --onPrimaryContainer: #001c37;
    --secondary: #535f70;
    --on-secondary: #ffffff;
    --secondary-container: #d7e3f8;
    --on-secondary-container: #101c2b;
    --tertiary: #6c5778;
    --onTertiary: #ffffff;
    --tertiaryContainer: #f3daff;
    --onTertiaryContainer: #251431;
    --background: #fdfcff;
    --on-background: #1a1c1e;
    --surface: #fdfcff;
    --on-surface: #1a1c1e;
    --outline: #73777f;
    --surface-varient: #dfe2eb;
    --on-surface-varient: #43474e;
}
