@font-face {
    font-family: "Selawik";
    src:    url('../fonts/selawk.woff2') format('woff2'),
            url('../fonts/selawk.woff') format('woff'),
            url('../fonts/selawk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}