/* assets/css/harmony.css */
/* You can add a specific font import here if Harmony uses one, e.g. Selawik */

:root {
    /* Color Overrides for Harmony */
    --primary: #a0c9ff;
    --on-primary: #00325a;
    --primary-container: #253141;
    --on-primary-container: #d2e4ff;
    --secondary: #bbc7db;
    --on-secondary: #253141;
    --tertiary: #d7bde4;
    --on-tertiary: #3b2947;
    --tertiary-container: #533f5f;
    --on-tertiary-container: #f3daff;
    --background: #1a1c1e;
    --on-background: #e3e2e6;
    --surface: #1a1c1e;
    --on-surface: #e3e2e6;
    --surface-variant: #43474e;
    --on-surface-variant: #c3c6cf;
    --outline: #8d9199;
}