@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

:root {
    --primary: #a0c9ff;
    --onPrimary: #00325a;
    --primaryContainer: #253141;
    --onPrimaryContainer: #d2e4ff;
    --secondary: #bbc7db;
    --onSecondary: #253141;
    --secondaryContainer: #3c4858;
    --onSecondaryContainer: #d7e3f8;
    --tertiary: #d7bde4;
    --onTertiary: #3b2947;
    --tertiaryContainer: #533f5f;
    --onTertiaryContainer: #f3daff;
    --background: #1a1c1e;
    --onBackground: #e3e2e6;
    --surface: #1a1c1e;
    --onSurface: #e3e2e6;
    --outline: #8d9199;
    --surfaceVarient: #43474e;
    --onSurfaceVarient: #c3c6cf;

    --fontPrimary: 'SUSE', sans-serif;
}

body {
    background-color: var(--background);
    font-family: var(--fontPrimary);
    font-weight: 400;
    color: var(--onPrimaryContainer);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary);
}

#header-title, #header-subtitle {
    color: var(--onPrimaryContainer);
}

.navbar-brand {
    font-weight: 600;
}

.btn {
    border-radius: 65px;
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--onPrimary);
}

.border-primary {
    border-color: var(--primary) !important;
}

.bold-title {
    font-weight: 600;
}

.navbar {
    background-color: var(--primaryContainer) !important;
}

.card {
    border-radius: 25px !important;
    background-color: var(--primaryContainer);
    border-color: var(--primaryContainer)
}

.card-title {
    color: var(--primary);
}

.card-text {
    color: var(--onPrimaryContainer);
}

.card-img-top {
    border-radius: 25px;
}