/* assets/css/worsteastern.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

:root {
    /* Color Overrides for Worst Eastern */
    --primary: #A0D39A;
    --on-primary: #00325a;
    --primary-container: #253141;
    --on-primary-container: #d2e4ff;
    --secondary: #B9CCB4;
    --on-secondary: #253141;
    --secondary-container: #3c4858;
    --on-secondary-container: #d7e3f8;
    --tertiary: #d7bde4;
    --on-tertiary: #3b2947;
    --tertiary-container: #533f5f;
    --on-tertiary-container: #f3daff;
    --background: #10140F;
    --on-background: #e3e2e6;
    --surface: #1a1c1e;
    --on-surface: #e3e2e6;
    --surface-variant: #43474e;
    --on-surface-variant: #c3c6cf;
    --outline: #8d9199;

    /* Font Overrides */
    --font-main: 'Inter', sans-serif;
    --font-header: 'Audiowide', sans-serif; 
}

/* Specific overrides for this theme */
h1, h2, h3 {
    font-family: var(--font-header);
}