@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

:root {
    --primary: #A0D39A;
    --onPrimary: #00325a;
    --primaryContainer: #253141;
    --onPrimaryContainer: #d2e4ff;
    --secondary: #B9CCB4;
    --onSecondary: #253141;
    --secondaryContainer: #3c4858;
    --onSecondaryContainer: #d7e3f8;
    --tertiary: #d7bde4;
    --onTertiary: #3b2947;
    --tertiaryContainer: #533f5f;
    --onTertiaryContainer: #f3daff;
    --background: #10140F;
    --onBackground: #e3e2e6;
    --surface: #1a1c1e;
    --onSurface: #e3e2e6;
    --outline: #8d9199;
    --surfaceVarient: #43474e;
    --onSurfaceVarient: #c3c6cf;

    --fontPrimary: 'Inter', sans-serif;
    --audiowide: 'Audiowide', sans-serif;

}

#header-title {
    font-family: var(--audiowide);
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

p a {
    color: var(--onPrimaryContainer);
}